body {
    text-align: center;
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 3rem;
    margin-top: 30px;
    color: #333;
}

.dice-container {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.dice {
    margin: 0 20px;
}

.dice img {
    width: 100px;
    height: 100px;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
